appnope
attrs
backcall
bluesky
certifi
chardet
cycler
decorator
event-model
h5py
HeapDict
historydict
idna
importlib-metadata
ipython
ipython-genutils
jedi
jsonschema
kiwisolver
matplotlib
msgpack
msgpack-numpy
networkx
numpy
parso
pexpect
pickleshare
Pillow
prompt-toolkit
ptyprocess
Pygments
pyparsing
PyQt5
PyQt5-sip
PyQt5-stubs
pyqtgraph
pyrsistent
python-dateutil
PyYAML
requests
six
super-state-machine
toolz
tqdm
traitlets
urllib3
wcwidth
zeroc-ice
zict
zipp
zmq
termqt

setuptools